* {
    -fx-color-line: #d5d5d5;
    -fx-color-red: #F32817;
    -fx-color-blue: #0086a1;
    /*3351A2*/
}

.root {
    -fx-font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -fx-font-size: 14;
}

.colorMain {
    -fx-text-fill: -fx-color-blue;
}

/*
* table view

*/

.table-view {
    -fx-background-color: transparent;
}

.table-view .arrow {
    -fx-mark-color: white;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

/*row table cell*/

.table-row-cell {
    -fx-cell-size: 100px;
    -fx-table-cell-border-color: transparent;
}

/* set height header tables in Tab transaction*/
.column-header {
    -fx-pref-height: 50;
}

.table-view .column-header {
    -fx-background-color: -fx-color-blue;
    -fx-border-color: -fx-color-line;
}

.table-view .table-cell {
    /*-fx-border-color: transparent;*/
    -fx-background-color: white;
    -fx-border-color: transparent transparent -fx-color-line transparent;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

/**/

/*

Tab pane

*/
.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;

    /*-fx-tab-max-width: 120px;*/
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 2;
    -fx-border-color: -fx-color-red;
}

.tab-pane > *.tab-header-area > *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-text-box-border, white;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -fx-color-red;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.progress-indicator {
    -fx-progress-color: -fx-color-blue;
}

.text-field {
    -fx-focus-color: -fx-color-blue;
}

.button {
    -fx-focus-color: -fx-color-blue;
}

.combo-box {
    -fx-focus-color: -fx-color-blue;
}

/*.combo-box .list-cell .cell {*/
/*-fx-focus-color: -fx-color-blue;*/
/*}*/

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-color-blue;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -fx-color-blue;
}

.spinner {
    -fx-focus-color: -fx-color-blue;
}

#refresh:hover, #cancel:hover {
    -fx-border-color: -fx-color-blue;
    -fx-background-color: -fx-color-blue;
    -fx-text-fill: white;
}

#refresh:hover {
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}

#cancel:hover {
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
}

#popup {
    -fx-border-color: #b4b4b4;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5px;
    -fx-background-color: #ececec
}

/*
   Radio Button=============
*/
.radio-button .radio:selected {
    -fx-background-radius: red;
    -fx-background-color: blue;
    -fx-border-color: green;
}

.radio-button .radio {
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
}

/*
  Button =============

*/
#buttonClearStatus {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-color: #343434;
    -fx-background-color: #343434
}

#buttonResearch {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-color: #ec8b0f;
    -fx-background-color: #ec8b0f
}

/*For dialog Category*/

.scroll-bar:horizontal {
    -fx-pref-height: 16;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 15;
}

/*Label item search*/
.label#index {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: -fx-color-blue;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-background-color: -fx-color-blue;
}

.list-view {
    -fx-selection-bar: -fx-color-line;
    -fx-selection-bar-non-focused: white;
    -fx-background-insets: 0;
    -fx-border-color: -fx-color-blue;
    -fx-padding: 0;
}

.button#buttonLikeSearch {
    -fx-border-radius: 60;
    -fx-background-radius: 60;
    -fx-border-color: #ec8b0f;
    -fx-border-width: 1px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ec8b0f;
}

/*Disable scroll horizontal and vertical TextArea*/

#titleYahoo .scroll-pane, #textArea .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area:focused .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

/*.text-area:disabled {
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
}

.text-area .scroll-pane:disabled {
    -fx-opacity: 1.0;
}*/

/*

Button action in tables of Tab transaction

*/

.buttonBeautiful {
    -fx-pref-height: 50;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-width: 1px;
    -fx-background-color: -fx-color-blue;
    -fx-text-fill: white;
}

.buttonBeautiful:hover {
    -fx-background-color: rgba(0, 134, 161, 0.42);
    -fx-text-fill: white;
}

.buttonBeautiful:disabled {
    -fx-background-color: rgba(126, 126, 126, 0.42);
    -fx-text-fill: #3d3d3d;
}

#layoutWebView {
    -fx-background-color: -fx-color-blue;
}

.progress-bar > .bar {
    -fx-background-color: -fx-color-blue;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.30em;
}

/*Image Cell*/
.imageShadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.53), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: #00b21c;
}
