@charset "euc-jp";
/* 
  system message
  version: 1.1.1
  update: 2011.02.22
*/

/* layout */
body#notfound, body#sysmsg{
	margin:0em 0em 2em 0em;
	padding:0em;
	text-align:center;}
body#notfound div#wrapper, body#sysmsg div#wrapper{
	margin:0 auto;
	width:950px;
	text-align:left;}
/* item */
a{
	color:#053799;
	text-decoration:underline;}
body#notfound .off-left, body#sysmsg .off-left{
	position:absolute;
	left:-9999px;
	width:9990px;}
/* masthead */
body#notfound div#MHD, body#sysmsg div#MHD{
	margin-top:14px;
	margin-bottom:14px;
	padding:0em;}
body#notfound div#MHD .yjmthproplogoarea{
	margin-right:0.25em;}
body#notfound div#MHD .yjmthloginarea strong{
	margin-right:0.25em;}
body#sysmsg #emg {
	margin:20px auto;
	width:730px;}
/* contents body */
body#notfound div#body p.links, body#sysmsg div#body p.links{ 
	text-align:center;
	color:#999;
	margin:1.45em 1.45em 30px;}
body#notfound div#body{
	text-align:left;
	height:auto;}
body#notfound div#body h1 {
	margin:1.85em 28px .45em;text-align:left;}
	body#notfound div#body p{
	margin:0; margin-left:30px;}
body#notfound div#body ul { 
	text-align:left;
	margin:.45em 0 .45em 56px;}
body#sysmsg h1.message{
	margin:30px auto 20px auto;
	text-align:center;}
body#sysmsg p.intro {
	line-height:2em;
	margin:18px auto;
	text-align:center;
	width:45em;}
body#sysmsg .contentbox {
	width: 750px;
	background: url(../../../img/ydod/1.0.0/round_ef.png) bottom no-repeat #ededed;
	padding-bottom: 5px;
	margin:0 auto;}
body#sysmsg .contentbox h2{
	background: url(../../../img/ydod/1.0.0/round_ef.png) top no-repeat #ededed;
	min-height:20px;
	padding:30px 30px 0 30px;
	margin:0;
	font-weight:normal;
	text-align:center;}
body#sysmsg .contentbox dl {
	text-align:left;
	background-color:#ededed;
	margin:0;
	padding:20px 30px 8px 30px;
	border-left:solid 1px #a6a6a6;
	border-right:solid 1px #a6a6a6;}
body#sysmsg .contentbox dt{
	font-weight:bold;}
body#sysmsg .contentbox dd{
	margin:0 0 20px 0;}
/* error */
.errTitle{
	width: 728px;
	margin:17px auto 15px auto;
	*margin:0 auto 15px auto;
	padding:10px 8px 8px 8px;
	border:3px double #c00;
	color:#c00;
	font-weight:bold;
	min-height:10px;
}
/* captcha */
div.captcha {
	width:750px;
	margin: 25px auto;
}
div.captcha div.right div.err{
	width:550px;
	padding:10px;
	border:1px solid #ddd;
	background:#fffbdf;
}

div.captcha .left{
	float:left;
	width:170px;
}

div.captcha .right{
	float:right;
	width:580px;
}
.agreement_text {
	line-height: 1.3;
}
#captchaShuffler{
	float:left;
	width:85px;
	height:82px;
	min-height:82px;
}
#captchaShuffler input{
	width:85px;
	height:82px;
}
.yobj_image .captcha_box img{
	float:left;
	width:290px;
	height:80px;
	margin:0;
	border: 1px solid #CCC;
}
span.asterisk{
	color:#cb6765;
}
div.captcha input.text{
	border:1px solid #7f9db9;
	padding:1px;
	padding-top:4px;
}
div.captcha input.text_err{
	border:2px solid #c00;
	padding:1px;
	padding-top:4px;
}
.arcshd{
	cursor:pointer;
}
#secword{
	ime-mode:disabled;
}
.err #secword{
	border:2px solid #c00;
}
.yjmthclear{
	clear:both;
}
.yobj_image{
	width:387px;
	height:82px;
	margin:10px 0;
	padding:0;
}
div.btnArea{
	margin-bottom:25px;
	padding:0;
	text-align:center;
}
a.btn_help_text{
	padding:3px 3px 6px 3px;
	vertical-align:text-top;
}

/* footer */
#yregft p{
margin-bottom:.2em;
}

/* clearfix */
.clearfix:after{
content:".";
height:0;
display:block;
visibility:hidden;
clear:both;
}
.clearfix{
display:inline-block;
}
/*\*/
*html .clearfix{
height:1%;
}
.clearfix{
display:block;
}
/**/
