/* 
  yregbase
  version: 1.1.2
  update: 2008.11.28
*/

/*-----------------------------
	reset
------------------------------*/
p, form, fieldset, h1, h2, h3, h4, h5, h6{margin:0;padding:0;}
fieldset{padding:10px 0;}
img, fieldset{border:0;}
legend{display:none;}
acronym, abbr {text-decoration:none; border:0;}
label{font-weight:normal;cursor:pointer;cursor:hand;}
.concatid{cursor:help;}
a{color:#053799;text-decoration:none;}
a:hover{text-decoration:underline;}


/*-----------------------------
	item definition
------------------------------*/
/* clear both */
.yregclb:after{zoom: 100%;}
.yregclb:after{content:".";display:block;font-size:0px;line-height:0;height:0;clear:both;visibility:hidden;}
/* skip navi */
.offLeft {width:9999px; position:absolute; left:-9999px;}

/*-----------------------------
	body
------------------------------*/
body{text-align:center;color:#333;margin:0;padding:0;}
#yregwp{text-align:left;margin:0 auto;width:750px;}

/*-----------------------------
	masthead ctn
------------------------------*/
#yregmst{position:relative;width:750px;margin:0 0 12px;}
#yregmst .yjmth{margin-top:12px}

/*-----------------------------
	contents ctn
------------------------------*/
#yregct{padding:0;}
#yregct {margin:0 0 0 10px;}
/*-----------------------------
	left column ctn
	 240px -> 275
------------------------------*/
#yreglg{float:right;width:275px;margin:0 0 20px;} /* front */

/*-----------------------------
	right column ctn
------------------------------*/
#yregtctx #yregtxt{margin:0 290px 0 0;}/* front */
#yregtgen #yregtxt{margin:0 290px 0 0;}

/*-----------------------------
	footer ctn
------------------------------*/
#yregft{text-align:center;padding:10px 0 12px;border-top:1px solid #777;}

/*-----------------------------
	box model
------------------------------*/
.yregbx{border:1px solid #656565;margin:0 0 10px;background-color:#f9f9f9;} /* box */
.yregbxi{margin:10px;} /* inner box */
.top .yregbxi{margin:20px 10px 12px;} /* top:above login box */

/*-----------------------------
	corner 
------------------------------*/
.ct, .ct .cl, .cb, .cb .cl{display:block;font-size:0;line-height:0;margin:0;height:4px;position:relative;}
.ct, .cb{width:100%;right:-1px}
.ct .cl, .cb .cl{width:4px;left:-2px}
.ct{background:transparent url(/images/login/reg06/corner/cr_gg_ne.gif) no-repeat top right;top:-1px;}
.ct .cl{background:transparent url(/images/login/reg06/corner/cr_gg_nw.gif) no-repeat top left;}
.cb{background:transparent url(/images/login/reg06/corner/cr_gg_se.gif) no-repeat bottom right;bottom:-1px;}
.cb .cl{background:transparent url(/images/login/reg06/corner/cr_gg_sw.gif) no-repeat bottom left;}

/*-----------------------------
	left column definition
------------------------------*/
#yregtxt .yregbx{background-color:#f5f5f5;border-color:#ddd;} 
/* left column corner Redefinition */
#yregtxt .ct{background-image:url(/images/login/reg06/corner/cr_ddd_ne.gif);}
#yregtxt .ct .cl{background-image:url(/images/login/reg06/corner/cr_ddd_nw.gif);}
#yregtxt .cb{background-image:url(/images/login/reg06/corner/cr_ddd_se.gif);}
#yregtxt .cb .cl{background-image:url(/images/login/reg06/corner/cr_ddd_sw.gif);}

#yregtxt ul{margin:0 0 10px;padding:0;}
#yregtxt li{margin:18px 0 0;padding:0;list-style:none;}
#yregtxt li cite{font-style:normal;}



/*-----------------------------
	right coulumn: local definition
------------------------------*/
#yreglg h1,#yreglg h2,#yreglg h3 {line-height:130%;text-align:left;}
.top .getYid {margin-bottom:6px;}
#yreglg p { margin:0; padding:0;}

#yreglg fieldset,
#yreglg form {margin:0; padding:0; background:none; border:0;}
#yreglg fieldset{padding:10px 0;}

/* table */
#yreglgtb, #yreglgtb td, #yreglgtb th, #yreglg .yreglgmd, .yreglgsut{text-align:right;}
#yreglgtb td {text-align:left;}
.yreglgsb, .omitTheID, .yregnewss {text-align:center;}
#yreglg .omitTheID { margin-bottom:12px;}
.yreglgsb, .persistency, .yregnewss {text-align:center;}
div.persistency { text-align:left; margin-bottom:17px;}
div.persistency label {	font-weight: bold;}
div.persistency p { margin-left:7px!important; text-align:left;}
.yregnewssl{margin:0 0 10px}
.yreglgsu {text-align:center; }
#yreglgtb {margin:0 0 8px;padding:0;width:253px; border-collapse:collapse;}
#yreglgtb td, #yreglgtb th{width:260px;}
#yreglgtb td select{width:124px;}
#yreglgtb td{width:130px}
#yreglgtb td input{width:120px;}
#yreglgtb tr.yjid th,
#yreglgtb tr.yjid td,
#yreglgtb tr.yjpw th,
#yreglgtb tr.yjpw td {padding-bottom:6px;}
#yreglgtb tr.yjid th,
#yreglgtb tr.yjpw th{font-weight:normal;}
#yreglgtb .yreg_ipt {/* height:14px; */ height:20px; border:1px solid #7F9DB9; }

/* only IE7 */
*:first-child+html #yreglgtb tr.yjid th,
*:first-child+html #yreglgtb tr.yjpw th {white-space:nowrap;}
*:first-child+html #yreglgtb tr.yjid th,
*:first-child+html #yreglgtb tr.yjid td,
*:first-child+html #yreglgtb tr.yjpw th,
*:first-child+html #yreglgtb tr.yjpw td {width:50%;}
*:first-child+html #yreglgtb tr.yjid td input,
*:first-child+html #yreglgtb tr.yjpw td input {width:95%;}

*html #yreglgtb .yreg_ipt {
	/* for IE5.5 */
	height/* */:20px; 
	border/* */:1px solid #7F9DB9;
	}

.yreglgsb{margin:12px 0 0; font-weight:bold;}/* submit */
.yreglgsb input {padding:4px 0; width:80px; font-weight:bold;}

.yreglgsut{margin:0 0 3px;}/* upper sign up */
.yreglgsub{margin:15px 0 0 30px;} /*image sign up*/

h2.yregdnt{margin:14px 0 0;}/* title on upper sign up */


/* login/out box */
#yregloginfield input{width:240px;border:1px solid #7F9DB9;}
#yregloginfield{margin-bottom:10px;}
#yregloginfield .formv{font-weight:bold;margin:0 0 5px 10px;}
.yregloginbtn{text-align:center;}
#yregtgen .yregloginbtn{padding-top:5px;}
.yregloginbtn img{margin:10px 5px;}

.ybox {margin-top:10px;margin-bottom:3px;}
.ybox_hd {background:transparent url("/images/login/reg06/corner/ybox_top.gif") no-repeat 0px 0px;margin-right:4px; width:auto;background-color:#FBFBEB;}
.ybox .ybox_hd .c {background:transparent url("/images/login/reg06/corner/ybox_rt.gif") no-repeat 100% 0px;height:4px;margin-right:-4px; width:auto;font-size:1px;}
.ybox .body {background-color:#FBF1C8;background:transparent url("/images/login/reg06/ybox_bg.gif") repeat-x;border-right:1px solid #8A8A89;border-left:1px solid #8A8A89;border-top:none;border-bottom:none;text-align:left;min-height:55px;}
.ybox .content{padding:3px 4px 4px 60px;}
.ybox .content .key{position:absolute;left:20px;margin:2px 0;}
.ybox .ybox_ft {background:transparent url("/images/login/reg06/corner/ybox_btm.gif") no-repeat 0px 0px;margin-right:4px;width:auto;}
.ybox .ybox_ft .c {background:transparent url("/images/login/reg06/corner/ybox_rc.gif") no-repeat 100% 0px;margin-right:-4px;height:4px;font-size:1px;}


.bluebox {margin:10px 0 10px 10px;}
.bluebox_hd {background:transparent url("/images/login/reg06/corner/bluebox_top.gif") no-repeat 0px 0px;margin-right:4px; width:auto;background-color:#FBFBEB;}
.bluebox .bluebox_hd .c {background:transparent url("/images/login/reg06/corner/bluebox_rt.gif") no-repeat 100% 0px;height:4px;margin-right:-4px; width:auto;font-size:1px;}
.bluebox .body {background-color:#EBEFF3;border-right:1px solid #809EBA;border-left:1px solid #809EBA;border-top:none;border-bottom:none;text-align:left;min-height:35px;padding:0 5px;}
.bluebox .seal .title{float:left;width:120px;font-weight:bold;margin-top:14px;text-align:center;}
.bluebox .seal .content{padding-left:125px;padding-right:3px;padding-top:5px;padding-bottom:5px;}
.bluebox .bluebox_ft {background:transparent url("/images/login/reg06/corner/bluebox_btm.gif") no-repeat 0px 0px;margin-right:4px;width:auto;}
.bluebox .bluebox_ft .c {background:transparent url("/images/login/reg06/corner/bluebox_rc.gif") no-repeat 100% 0px;margin-right:-4px;height:4px;font-size:1px;}
.clear{clear:both;}



/* sign up first access to UA */
.yregdsilu{border-bottom:1px solid #ccc;margin:0 0 15px;padding:0 0 8px;}
 /*yregdlisu:upper sign up, yreglvpnu: reconfirm pw */
.yregdlisu,
.yreglvpnu{border-top:1px solid #ccc;margin:12px 0 0;padding:8px 0 0;}
/*h2.getYid {margin-bottom:6px;}*/

/* guide:login guide, hint  */
#yreglg .guide .yregbxi{margin-bottom:2px;}

#yreglg .guide ul{
	list-style:none;
	list-style-type:none; 
	margin:0; 
	padding:6px 0;
	border-top:1px solid #CCC;
	}
#yreglg .guide ul.ForgetIdPw, 
#yreglg .guide ul.VerifyPw{ /* verify page */
	margin-top:6px;
	}
#yreglg .guide ul li{
	padding-bottom:3px;
	line-height:1.3em;
	}

/*#yregtgen #yregct {margin-right:15px}*/

#yreglgtb td.yregyid {text-align:left;}

.yreglgdu {margin:0 0 5px}

#yregpmtxt h3{margin:0 0 10px;}
#yregptxt {padding:12px 0 0;}
#yregptxt ul {margin:15px 0 0;padding:0;}
#yregptxt li {margin:0 0 1em 18px;list-style-type:disc;}
#yregpmtxt {margin:25px 0 0;padding:20px 0 0;border-top:1px solid #ccc;}

.yregertxt{margin:15px 0 5px;}/* err msg */
.yregertxt{margin:15px 0 5px;}
.yregertxt, #yreglg .yregertxt h2{color:#c00;}
.yregertxt span.help{display:block; text-align:right;}

/* reconfirm ID name */
#yreglgtb td.yreglvid{text-align:left;}
/* account has been locked */
#yregfl{margin:0 20px 20px;}
#yregfl p{margin:0 0 1em;}
#yregfl li{margin-bottom:10px;}


/* err local  */
#yregtgen #yregtxt p.yregpti {margin:0 0 2px;}
/*#yregtgen #yregtxt{margin-bottom:20px}*/
#yregtgen #yregtxt p{margin:0 0 0.8em;}
#yregtgen #yregtxt .yregbpt li{
margin:0 0 10px 4px;
padding:0 0 10px 22px;
background:url(/images/login/reg06/purple_arrow.gif) no-repeat 1px 4px;}
#yregtgen #yregtxt #yreghtxt h2{color:#7A067F; margin-bottom:20px;}/* help text */
#yregtgen #yregtxt #yreghtxt h3{margin:0 0 4px;}
#yregtgen #yregtxt #promoImg{float:right;margin:20px 10px 0;}


/* captcha */
#yregtgen.yregab #yregtxt{margin:0 335px 0 0;} 
.yregab #yreglg{width:320px;}
.yregab #yreglgtb{width:auto;}
html>body #yreglgtb th{width:180px;}
.yregab #yregabimg{padding:10px 0 0;}
.yregab .yregrid{text-align:right;}
#yregtgen.yregab #yreglgtb input{width:280px;border:1px solid #7F9DB9;}


/* EMG */
#EMG {text-align:center;}
#EMG table {text-align:left;margin:0 auto 0;}
#EMG table table{margin:0;}
